{% extends 'index.html' %}
{% load static %}
{% block body %}
  <div class="slideshow-container">
    <div class="mySlides fade">
      <img src="https://img.freepik.com/free-photo/human-hand-typing-computer-keyboard-night-generated-by-ai_188544-31050.jpg?t=st=1700920234~exp=1700923834~hmac=fa6c76fb23acbb3cfb4f0d82cab990969bb0af50bd3945f469b81460f08279db&w=826" style="width:100% ; height:543px; margin-top: 50px;" />
      <div class="text" style="padding-left: 100px;">
        <h1>Innovation</h1>
        <p>We embrace innovation as the cornerstone of our success. By staying ahead of industry trends, we empower our clients with cutting-edge solutions.</p>
        <br /> <br />
        <div class="btns">
          <a href="{% url 'contact' %}" class="btn">Talk to experts</a>
        </div>
      </div>
    </div>

    <div class="mySlides fade">
      <img src="https://img.freepik.com/free-photo/medium-shot-woman-working-laptop_23-2150287680.jpg?w=740&t=st=1700920979~exp=1700921579~hmac=586cfdac5587aa661cc593136f399ba78557fa712873eec8829bc166f45d29a3" style="width:100%; height: 543px; margin-top: 50px;" />

      <div class="text" style="padding-left: 100px;">
        <h1>Client-Centric Approach</h1>
        <p>Our clients are at the heart of everything we do. We listen, understand, and tailor our services to meet their unique needs.</p>
        <br /> <br />
        <a href="{% url 'contact' %}" class="btn">Talk to experts</a>
      </div>
    </div>

    <div class="mySlides fade">
      <img src="https://img.freepik.com/free-photo/glowing-blue-sphere-held-by-human-hand-generated-by-ai_188544-41033.jpg?t=st=1700917483~exp=1700921083~hmac=e19015058c0b2c75fac465e6a3b39fb4b41022bd03de5b715db2635d9f21de84&w=826" style="width:100%; height: 543px; margin-top: 50px;" />
      <div class="text" style="padding-left: 100px;">
        <h1>Team Collaboration</h1>
        <p>Success is a collective effort. We foster a collaborative environment where every team member's contribution is valued.</p>
        <br /><br />
        <a href="{% url 'contact' %}" class="btn">Talk to experts</a>
      </div>
    </div>

    <div class="mySlides fade">
      <img src="https://img.freepik.com/free-photo/medium-shot-woman-working-laptop_23-2150287680.jpg?w=740&t=st=1700920979~exp=1700921579~hmac=586cfdac5587aa661cc593136f399ba78557fa712873eec8829bc166f45d29a3" style="width:100%; height: 543px; margin-top: 50px;" />

      <div class="text" style="padding-left: 100px;">
        <h1>Ethical Leadership</h1>
        <p>Integrity, transparency, and ethical business practices define our leadership. We believe in building trust through honesty and accountability..</p>
        <br /> <br />
        <a href="{% url 'contact' %}" class="btn">Talk to experts</a>
      </div>
    </div>
  </div><br />
  <div style="text-align:center">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>
  <br />
  <div class="about">
    <div class="content">
      <h2>About Us</h2>
      <p>website is an innovative and leading software development and business consulting company in Hyderabad. We commit to creating cutting-edge solutions that meet our client’s most challenging digital transformation needs. With over 12+ years of experience, our experts leverage services to manage the operations and systems of businesses of all sizes as they make their way through their cloud-enabled digital transformation.

        We offer a wide range of services, including product development, ERP tool designs, website and mobile app development, digital marketing solutions, and IT staffing. We take pride in delivering exceptional solutions that exceed our client's expectations and aim to empower them to achieve their objectives and build a sustainable, thriving business.</p>
      <a href="{% url 'about' %}" class="default-btn" target="_blank">MORE ABOUT US</a>
    </div>
    <div class="imgblock">
      <img src="https://img.freepik.com/free-photo/social-integration-working-team_23-2149341102.jpg?t=st=1700914034~exp=1700914634~hmac=93233b5ddd44a7390610af0cd85114419e1472929b85427e251d3bb8b84d85be" height="500px" width="450px;" />
    </div>
  </div>
  {% comment %} <section class="counter">
    <div class="container">
      <div class="count">
        <div class="box">
          <h2 style="font-size: 45px;"><span id="count1" class="display-4"></span>+</h2>
          <p>Project compled</p>
        </div>
        <div class="box">
          <h2 style="font-size: 45px;"><span id="count2" class="display-4"></span>+</h2>
          <p>Happy Clients</p>
        </div>
        <div class="box">
          <h2 style="font-size: 45px; justify-content: center;"><span id="count3" class="display-4"></span>+</h2>
          <p>Year Of Experience</p>
        </div>
      </div>
    </div>
  </section><br /> {% endcomment %}

  {% comment %} <div class="blog">
    <h2>Services</h2>
    <h1 style="text-align:center;color:#800080 ;">EXPLORE OUR INNOVATIVE SOLUTIONS</h1>
    <div class="container">
      <div class="card">
        <div class="face face1">
          <div class="content">
            <div class="icon">
              <img src="https://www.marolix.com/img/services/product-development.jpg" alt="" height="100%" width="100%;" />
            </div>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <h3>Product Design and Development</h3>
            <p>We offer end-to-end solutions right from ideation...</p>
            <a href="{% url 'product' %}" target="_blank" class="default-btn">Know More</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="face face1">
          <div class="content">
            <div class="icon">
              <img src="https://www.marolix.com/img/services/webdesign.jpg" alt="" height="100%" width="100%;" />
            </div>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <h3>Website Design and Development</h3>
            <p>With 200+ web projects, SofTech professionally designs...</p>
            <a href="{% url 'web' %}" target="_blank" class="default-btn">Know More</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="face face1">
          <div class="content">
            <div class="icon">
              <img src="https://www.marolix.com/img/services/digital-marketing.jpg" alt="" height="100%" width="100%;" />
            </div>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <h3>Digital Marketing Services</h3>
            <p>With our end-to-end Digital Marketing Services,..</p>
            <a href="{% url 'digital' %}" target="_blank" class="default-btn">Know More</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="face face1">
          <div class="content">
            <div class="icon">
              <img src="https://www.marolix.com/img/services/mobile-app.jpg" alt="" height="100%" width="100%;" />
            </div>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <h3>Mobile App Development</h3>
            <p>We offer end-to-end custom Mobile Applicatio...</p>
            <a href="{% url 'mobile' %}" target="_blank" class="default-btn">Know More</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="face face1">
          <div class="content">
            <div class="icon">
              <img src="https://www.marolix.com/img/services/erptool.jpg" alt="" height="100%" width="100%;" />
            </div>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <h3>ERP Tool Design and Development</h3>
            <p>ERP development & support services to enha...</p>
            <a href="{% url 'product' %}" target="_blank" class="default-btn">Know More</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="face face1">
          <div class="content">
            <div class="icon">
              <img src="https://www.marolix.com/img/services/software-design.jpg" alt="" height="100%" width="100%;" />
            </div>
          </div>
        </div> {% endcomment %}
        {% comment %} <div class="face face2">
          <div class="content">
            <h3>IT Staffing / Deployment</h3>
            <p>We specialize in finding and vetting the right talen...</p>
            <a href="{% url 'staff' %}" target="_blank" class="default-btn">Know More</a>
          </div>
        </div>
      </div>
    </div> {% endcomment %}
  </div><br /><br />
  <div class="port" style="text-align: center; background-color: aliceblue; padding: 30px;">
    <p style="color: #800080;">Upcoming Projects</p>
    <h2 style="color: #800080;">OUR PORTFOLIO SPEAKS</h2>
    <div class="block">
      <div class="imgblock">
        <img src=" https://www.marolix.com/img/portfolio/Iinvoice.png" height="300px;" width="450px;" />
      </div>
      <div class="content">
        <h2>Invoice trades</h2>
        <h3>Short-Term Investment Company</h3>
        <p>Invoice Trade is a tech-enabled platform designed to improve cash flow, meet operational needs, and speed up expansions with the utmost confidentiality. At Invoice Trade, we are committed to growing your portfolio at higher rates through our range of seamless invoice discounting advantages and invoice financing options with minimal risk.</p>
        <a href="https://invoicetrades.com/" target="_blank" class="default-btn" style="color: white;">View Project</a>
      </div>
    </div>
  </div><br /><br />
  <p style="text-align: center;color: #A0248C;">FROM BLOG</p><br />
  <h2 style="text-align: center; color: #A0248C;">Industry Updates Here</h2><br />
  <section class="articles" style="margin-top: 50px;">
    <article>
      <div class="article-wrapper">
        <figure>
          <img src="https://www.marolix.com/img/webdesign.jpg" alt="" height="300px" />
        </figure>
        <div class="article-body">
          <h2>Future of Web Development</h2>
          <p>In this digital realm, the web design trends of 2024 are poised to redefine the user experience and reshape the way we interact with the virtual world. The world of web design is undergoing a transformative journey, redefining user experiences and pushing the boundaries of what's possible.</p>
          <a href="https://www.marolix.com/The%20-Future-of-Web-Development" class="read-more" style="color: white;background-color:black; padding: 5px; border-radius: 10px; margin-top: 40px; padding-left: 30px;">
            Read more <span class="sr-only">about this is some title</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </div>
    </article>
    <article>
      <div class="article-wrapper">
        <figure>
          <img src="https://selzy.com/en/blog/wp-content/uploads/2022/07/email-marketing-resources_1200x630.jpg" alt="" />
        </figure>
        <div class="article-body">
          <h2>B2B Email Marketing 2024</h2>
          <p>In the fast-paced world of online marketing, email remains a powerful and effective tool for B2B (business-to-business) communication. B2B email marketing is set to evolve in 2024 with a range of exciting email marketing trends. It is a direct and personal way to communicate with potential and existing customers, and it can be used to grow sales, nurture leads, & build relationships.</p>
          <a href="https://www.marolix.com/b2b-email-marketing" class="read-more" style="color: white;background-color: black; padding: 5px; border-radius: 10px; margin-top: 5px; padding-left: 30px;">
            Read more <span class="sr-only">about this is some title</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </div>
    </article>

    <article>
      <div class="article-wrapper">
        <figure>
          <img src="https://www.anodius.com/wp-content/uploads/2022/05/what-is-crm-system-anodius.jpg" alt="" />
        </figure>
        <div class="article-body">
          <h2>CRM for small businesses</h2>
          <p>Customer Relationship Management refers to a set of customer retention strategies and technologies used to manage & analyze customer interactions and data throughout the customer lifecycle. CRM systems enable businesses to streamline their sales, marketing, and customer support efforts. By centralizing customer data and communication, small businesses can improve their relationship with clients.</p>
          <a href="https://www.marolix.com/crm-for-small-businesses" class="read-more" style="color: white;background-color: black; padding: 5px; border-radius: 10px; margin-top: 48px; padding-left: 30px;">
            Read more <span class="sr-only">about this is some title</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </div>
    </article>
    <article>
      <div class="article-wrapper">
        <figure>
          <img src="https://i0.wp.com/www.axestrack.com/wp-content/uploads/2021/07/enterprise-resource-management-erp-software-system-business-resources-plan-scaled.jpg?fit=2560%2C1461&ssl=1" alt="" />
        </figure>
        <div class="article-body">
          <h2>Companies Need An Erp System</h2>
          <p>In the fast-paced and ever-evolving world of business, staying ahead of your competition requires not only hard work but also smart work. To achieve this, companies need the right tools and strategies to streamline their operations, boost efficiency, and optimize decision-making processes. Amongst the ERP system is one of the tools that has gained immense popularity in recent years</p>
          <a href="https://www.marolix.com/why-companies-need-an-erp-system" class="read-more" style="color: white;background-color:black; padding: 5px; border-radius: 10px; margin-top: 5px; padding-left: 30px;">
            Read more <span class="sr-only">about this is some title</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </div>
    </article>
    <article>
      <div class="article-wrapper">
        <figure>
          <img src="https://selzy.com/en/blog/wp-content/uploads/2022/07/email-marketing-resources_1200x630.jpg" alt="" />
        </figure>
        <div class="article-body">
          <h2>B2B Email Marketing 2024</h2>
          <p>In the fast-paced world of online marketing, email remains a powerful and effective tool for B2B (business-to-business) communication. B2B email marketing is set to evolve in 2024 with a range of exciting email marketing trends. It is a direct and personal way to communicate with potential and existing customers, and it can be used to grow sales, nurture leads, & build relationships.</p>
          <a href="https://www.marolix.com/b2b-email-marketing" class="read-more" style="color: white;background-color: black; padding: 5px; border-radius: 10px; margin-top: 5px; padding-left: 30px;">
            Read more <span class="sr-only">about this is some title</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </div>
    </article>
    <article>
      <div class="article-wrapper">
        <figure>
          <img src="https://selzy.com/en/blog/wp-content/uploads/2022/07/email-marketing-resources_1200x630.jpg" alt="" />
        </figure>
        <div class="article-body">
          <h2>B2B Email Marketing 2024</h2>
          <p>In the fast-paced world of online marketing, email remains a powerful and effective tool for B2B (business-to-business) communication. B2B email marketing is set to evolve in 2024 with a range of exciting email marketing trends. It is a direct and personal way to communicate with potential and existing customers, and it can be used to grow sales, nurture leads, & build relationships.</p>
          <a href="https://www.marolix.com/b2b-email-marketing" class="read-more" style="color: white;background-color: black; padding: 5px; border-radius: 10px; margin-top: 5px; padding-left: 30px;">
            Read more <span class="sr-only">about this is some title</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </div>
    </article>
  </section>
{% endblock %}
