{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>Being Grabbed</title>
</head>

<body>
    <div class="navbar">
        <div class="container">
            <div class="logo">
                <img src="{% static 'image/BSG_logo.jpg' %}" style="height: 56px; width: 250px; padding-right: px;">
                {% comment %} <a href=""><strong>BGS </strong>Being Grabbed Solution</a> {% endcomment %}
            </div>
            <ul>
                <li><a href="{% url "home" %}" class="active">Home</a></li>
                <li><a href="{% url "about" %}">About</a></li>
                
                    {% comment %} <div class="dropdown">
                        <button class="dropbtn">Services</button>
                        <div class="dropdown-content">
                            <a href="{% url "product" %}">Product Design & Development</a>
                            <a href="{% url "web" %}">Web Design & Development</a>
                            <a href="{% url "digital" %}">Digital Marketing</a>
                            <a href="{% url "mobile" %}">Mobile Design & Development</a>
                            <a href="{% url "staff" %}">IT Staffing & Deployment</a>
                        </div>
                    </div> {% endcomment %}
                
                <li><a href="{% url "products" %}">Product</a></li>
                {% comment %} <li><a href="{% url "port" %}">Portfolio</a></li> {% endcomment %}
                <li><a href="">Pricing</a></li>
                {% comment %} <li><a href="{% url "team" %}">Team</a></li> {% endcomment %}
                <li><a href="/gallery/0">Gallery</a></li>
                <li><a href="{% url "blog" %}">Blog</a></li>
                <li> <a href="{% url "contact" %}">Contact Us</a></li>
            </ul>
        </div>
    </div>
        {% block body %}
        {% endblock body %}

</br>

        <footer>
            
            <div class="main-footer">
                <div class="container">
                    <div class="box">
                        <div class="logo">
                            <a href="#">
                                <strong>BGS</strong>
                                Being Grabbed Solution
                            </a>
                        </div>
                        <div class="text1">
                            <P>
                                Every moment in life is captured with one click. Let us make that one wonderful click
                                Together
                            </P>
                        </div>
                    </div>
                    <div class="box">
                        <h3>Quick Links</h3>
                        <ul>
                            <li><a href="{% url "home" %}">Home</a></li>
                            <li><a href="{% url "about" %}">About</a></li>
                            <li><a href="{% url "product" %}">Product</a></li>
                            <li><a href="{% url "pricing" %}">Pricing</a></li>
                            <li><a href="{% url "team" %}">Team</a></li>
                            <li><a href="{% url "blog" %}">Blog</a></li>
                            <li><a href="{% url "contact" %}">Contact</a></li>
                        </ul>
                    </div>
                    <div class="box">
                        <h3>Contact</h3>
                        <ul>
                            <li><i class="fa fa-phone"></i> +91 987654321</li>
                            <li><i class="fa fa-at"></i> info@beinggrabbed.com</li>
                            <li><i class="fa fa-location-dot"></i> 1-234/A, Ameerpet,Hyderabad,Telangana-500016</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="copyrights">
                <div class="box">
                    <p>
                        Copyright @ 2023 by <a href="#">beinggrabbedsolutionspvtltd</a> All Rights reserved
                    </p>
                </div>
                <div class="box">
                    <div class="social">
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </footer>



        <script>
            let slideIndex = 0;
            showSlides();

            function showSlides() {
                let i;
                let slides = document.getElementsByClassName("mySlides");
                let dots = document.getElementsByClassName("dot");
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                slideIndex++;
                if (slideIndex > slides.length) { slideIndex = 1 }
                for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(" active", "");
                }
                slides[slideIndex - 1].style.display = "block";
                dots[slideIndex - 1].className += " active";
                setTimeout(showSlides, 3000);
            }

            document.addEventListener("DOMContentLoaded", () => {
                function counter(id, start, end, duration) {
                    let obj = document.getElementById(id),
                        current = start,
                        range = end - start,
                        increment = end > start ? 1 : -1,
                        step = Math.abs(Math.floor(duration / range)),
                        timer = setInterval(() => {
                            current += increment;
                            obj.textContent = current;
                            if (current == end) {
                                clearInterval(timer);
                            }
                        }, step);
                }
                counter("count1", 0, 400, 3000);
                counter("count2", 100, 50, 2500);
                counter("count3", 0, 6, 500);
            });

        </script>
</body>

</html>